[submodule "RestClientApp"]
	path = RestClientApp
	url = https://github.com/jnycolej/RESTClientApp
[submodule "BrowserApp"]
	path = BrowserApp
	url = https://github.com/jnycolej/calculator
[submodule "SpotRoulette"]
	path = SpotRoulette
	url = https://github.com/jnycolej/SpotRoulette
