nav { text-align: center; 
	postion: relative;}
body { font-family: Verdana, monospace;}
main {padding: 20px;}
a { 	color: #000000;
	font-family: Verdana, monospace;
	text-decoration: none;}
ul { text-align: center;
	list-style-type: none;}
ul a {color: #000000;
		font-family: Verdana, monospace;
		text-decoration: none;
		font-weight: bold;}
footer {font-weight: bold;
	font-size: .9em;}
h2 { text-align:center;}
h1 {text-align: center;}
ol li ul li {list-style-type: disc;
				text-align:left;
				padding: 10px 0px 0px;}
dd ul li {list-style-type:disc;
					text-align: left;}
dl dt {font-weight: bold;}
img {padding: 10px;}
#center {
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;}
#left { float: left;
	margin: 0 0 5px 5px;}
.clearleft {clear:left;}
.leftalign {text-align: left;}
.dot {list-style-type:disc;}