body {
    background-position: center;
    text-align: center;
    font-family: "Merriweather";
}
img {
    position: center;
    width: 600;
    height: 500;
}

.background-image {
    background-image: url('../assets/bg-image.png');
}

.thewall {
    background-image: url('../assets/thewallbackground.png');
}

ul.thewall {
    list-style: none;
    padding: 5;
    background-color: white;
}

img.thewall {
    height: 400;
    width: 700;
}

.kingslanding-background {
    background-image: url('../assets/kingslanding-bg-image.png');
}

p.kingslanding {
    background-color: burlywood;
    
}
a.kingslanding {
   background-color: cornflowerblue;
   color: white;
}

button {
    height: 50;
    width: 100;
    background-color: royalblue;
    font-size: large;
    font-family: "Merriweather";
}

ul.kingslanding-background {
    list-style:none;
    padding: 5;
    background-color: tan;
}

iframe {
    background-color: tan;
}

