.App {
  text-align: center;
}

ul#navbar {
  margin:0;
  padding: 0;
  width: 100vw;
  display: flex;
}

ul#navbar li {
  padding: 10px;
  background-color: #808080;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: #010101;
  
}

.homepage {
  align-items: center;
  background-color: #C1C1C1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px +2vmin);
  color: black;
}